eve-intel-map/Service References/EveIntel/EveIntel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EveIntel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEveIntel_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://eve-intel.cs/EveIntel.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://eve-intel.cs/EveIntel.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://eve-intel.cs/EveIntel.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/eve_intel_server.Service" />
      <xsd:import schemaLocation="http://eve-intel.cs/EveIntel.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEveIntel_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_UpdateLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocal" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_ClientGlobalUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientGlobalUpdate" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_ClientGlobalUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientGlobalUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_ClientCountUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ClientCountUpdate" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_SecondConnection_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SecondConnection" />
  </wsdl:message>
  <wsdl:message name="IEveIntel_ClientIntelUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ClientIntelUpdate" />
  </wsdl:message>
  <wsdl:portType name="IEveIntel">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveIntel/Connect" message="tns:IEveIntel_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveIntel/ConnectResponse" message="tns:IEveIntel_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveIntel/Disconnect" message="tns:IEveIntel_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocal">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveIntel/UpdateLocal" message="tns:IEveIntel_UpdateLocal_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientGlobalUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveIntel/ClientGlobalUpdate" message="tns:IEveIntel_ClientGlobalUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveIntel/ClientGlobalUpdateResponse" message="tns:IEveIntel_ClientGlobalUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientCountUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IEveIntel/ClientCountUpdate" message="tns:IEveIntel_ClientCountUpdate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SecondConnection">
      <wsdl:output wsaw:Action="http://tempuri.org/IEveIntel/SecondConnection" message="tns:IEveIntel_SecondConnection_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientIntelUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IEveIntel/ClientIntelUpdate" message="tns:IEveIntel_ClientIntelUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEveIntel" type="tns:IEveIntel">
    <wsp:PolicyReference URI="#NetTcpBinding_IEveIntel_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocal">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/UpdateLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ClientGlobalUpdate">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/ClientGlobalUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCountUpdate">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/ClientCountUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecondConnection">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/SecondConnection" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientIntelUpdate">
      <soap12:operation soapAction="http://tempuri.org/IEveIntel/ClientIntelUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EveIntel">
    <wsdl:port name="NetTcpBinding_IEveIntel" binding="tns:NetTcpBinding_IEveIntel">
      <soap12:address location="net.tcp://pc-marek/EveIntel.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://pc-marek/EveIntel.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/PC-MAREK</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>