eve-intel-map/Service References/EveIntel/EveIntel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eve_intel_server.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eve_intel_server.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EveIntelCharacterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Corp" nillable="true" type="tns:EveIntelCorporationInfo" />
      <xs:element minOccurs="0" name="EveId" type="xs:long" />
      <xs:element minOccurs="0" name="Kos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EveIntelCharacterInfo" nillable="true" type="tns:EveIntelCharacterInfo" />
  <xs:complexType name="EveIntelCorporationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alliance" nillable="true" type="tns:EveIntelAllianceInfo" />
      <xs:element minOccurs="0" name="EveId" type="xs:long" />
      <xs:element minOccurs="0" name="Kos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Npc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EveIntelCorporationInfo" nillable="true" type="tns:EveIntelCorporationInfo" />
  <xs:complexType name="EveIntelAllianceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EveId" type="xs:long" />
      <xs:element minOccurs="0" name="Kos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EveIntelAllianceInfo" nillable="true" type="tns:EveIntelAllianceInfo" />
  <xs:complexType name="ArrayOfEveIntelCharacterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EveIntelCharacterInfo" nillable="true" type="tns:EveIntelCharacterInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEveIntelCharacterInfo" nillable="true" type="tns:ArrayOfEveIntelCharacterInfo" />
</xs:schema>