eve-intel-map/Service References/EveIntel/EveIntel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eve_intel_server.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eve_intel_server.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EveIntelCharacterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllianceKos" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllianceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CharacterID" type="xs:long" />
      <xs:element minOccurs="0" name="CharacterKos" type="xs:boolean" />
      <xs:element minOccurs="0" name="CharacterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorporationKos" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorporationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShipTypeTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SolarsystemID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SolarsystemTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EveIntelCharacterInfo" nillable="true" type="tns:EveIntelCharacterInfo" />
  <xs:complexType name="ArrayOfEveIntelCharacterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EveIntelCharacterInfo" nillable="true" type="tns:EveIntelCharacterInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEveIntelCharacterInfo" nillable="true" type="tns:ArrayOfEveIntelCharacterInfo" />
</xs:schema>