eve-intel-map/Service References/IntelService/IntelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eve-intel.cs/IntelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eve_intel_server" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eve_intel_server" minOccurs="0" name="ConnectResult" nillable="true" type="q1:ConnectionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastLocalKos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eve_intel_server" minOccurs="0" name="kosInfo" nillable="true" type="q2:LocalKosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastKosPlayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eve_intel_server" minOccurs="0" name="playerInfo" nillable="true" type="q3:KosPlayerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalKosInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eve_intel_server" minOccurs="0" name="kosInfo" nillable="true" type="q4:LocalKosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KosPlayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eve_intel_server" minOccurs="0" name="playerInfo" nillable="true" type="q5:KosPlayerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineClientsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onlineClients" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>