eve-intel-map/Service References/IntelService/IntelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/eve_intel_server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eve_intel_server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eve-intel.cs/IntelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://eve-intel.cs/IntelService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConnectionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="OnlineClients" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionInfo" nillable="true" type="tns:ConnectionInfo" />
  <xs:complexType name="LocalKosInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PilotNames" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="SenderId" type="ser:guid" />
      <xs:element minOccurs="0" name="SystemId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalKosInfo" nillable="true" type="tns:LocalKosInfo" />
  <xs:complexType name="KosPlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastKnownSystem" type="xs:long" />
      <xs:element minOccurs="0" name="LastKnownSystemTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PilotName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PilotShip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PilotShipTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SenderId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KosPlayerInfo" nillable="true" type="tns:KosPlayerInfo" />
</xs:schema>